<html>
    <head>
        <title>
            <%= title  %>
            <link rel="stylesheet" href="/css/layout.css">
            <%- style %>
        </title>
    </head>

    <body style="display: flex; align-items: center; justify-content: center; flex-direction: column;"
    Chat
    
     >
        <%- include('_header'); %>

        <%- body %>


        <%- include('_footer'); %>

        <%- script %>
    </body>
</html>